{% extends 'base1.html' %}

{% block title %}Vaccines{% endblock %}

{% block content %}
  <h1 class="my-4">Vaccines</h1>
  <div class="row">
    {% for vaccine in vaccines %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ vaccine.name }}</h5>
            <p class="card-text">{{ vaccine.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{% url 'vaccines:vaccine_detail' vaccine.id %}" class="btn btn-sm btn-outline-secondary">View</a>
                <a href="{% url 'vaccines:book_appointment' vaccine.id %}" class="btn btn-sm btn-outline-secondary">Book Appointment</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No vaccines available.</p>
    {% endfor %}
  </div>
{% endblock %}
